extends layout

block content
    section.container
        #logo
        h1=title
        -if(message)
            div.error=message
        article.article 
            form.form(method="post", action="/login")
                fieldset
                    div
                        label(for="username") Usuario:
                        input#username(type="text", name="username", required)
                    div
                        label(for="password") Password:
                        input#password(type="password", name="password", required)
                    div
                        input(type="submit", value="Entrar")
            a(href="/signin") Registrarse

        br

        a(href="/") Regresar al home